

<div class="questions-page"><div class="subpage_title"><%= image_tag "speech-bubble-with-question-mark.png" %>
  </div>
  <h1>Your questions</h1>

  <% @questions.each do |q| %>
    <div class="form-box-full-width">
      <%= simple_form_for q, url: questions_path, method: :post do |f| %>
          <%= q.question %>
          <%= f.input :answers, as: :radio_buttons, collection: q.answers, label_method: :answer, item_wrapper_class: 'trigger-q-click'  %>
          <%= f.submit "submit", class: "question-btn" %>
      <% end %>
    </div>
  <% end  %>
</div>

