 <div class="container prof-new-form">
  <!-- if we move this container, make sure handle prof-new-form scss -->
    <h1>Create your Profile</h1>
 <div class="devise-form">
          <%= simple_form_for(@profile) do |p| %>
            <%= p.input :username %>
            <%= p.input :city %>
            <%= p.input :age %>
            <%= p.input :preference %>
            <%= p.input :gender %>
            <%= p.input :nerdy, as: :hidden %>
            <%= p.input :sporty, as: :hidden %>
            <%= p.input :party, as: :hidden %>
            <%= p.input :organized, as: :hidden %>
            <%= p.input :spiritual, as: :hidden %>
            <%= p.input :photo %>
            <%= p.input :photo_cache, as: :hidden %>
            <%= p.button :submit, class:"btn btn-default" %>
            <%= link_to 'Back to Dash', dashboard_path, class:"btn btn-danger" %>
          <% end %>
        </div>
</div>
