 <div class="container prof-new-form">
  <!-- if we move this container, make sure handle prof-new-form scss -->
    <h1>Create Your Profile</h1>
 <div class="devise-form">
          <%= simple_form_for(@profile) do |p| %>
            <%= p.input :username, placeholder: "Name" %>
            <%= p.input :age, placeholder: "Age" %>
            <%= p.input :city, placeholder: "City" %>
            <%= p.input :gender, collection: ["Male", "Female"], prompt: "Gender" %>
            <%= p.input :preference,  collection: ["Men", "Women"], prompt: "Looking for..." %>
            <%= p.input :nerdy, as: :hidden %>
            <%= p.input :sporty, as: :hidden %>
            <%= p.input :party, as: :hidden %>
            <%= p.input :organized, as: :hidden %>
            <%= p.input :spiritual, as: :hidden %>
            <%= p.input :photo %>
            <%= p.input :photo_cache, as: :hidden %>
            <%= p.button :submit, class:"brand-button"%>
          <% end %>

        </div>
</div>

